@page "/FolderView/{Text?}"


@if (IsAuthenticated)
{
    <Card>
        <BodyTemplate>
            <h2>
                <i class="fa fa-folder" aria-hidden="true"></i> @Path.GetFileName(Model.Path)
            </h2>
            <p>一个共有 @FolderModels.Count 个文件</p>
        </BodyTemplate>
    </Card>
    <Divider/>
    <Row ItemsPerRow="ItemsPerRow.Four" ColSpan="4">
        @foreach (var item in FolderModels)
        {
            <a href="@item.ToUrl()">
                <ContextMenuZone>
                    <ContextMenuTrigger>
                        <Card IsShadow="true" class="item">
                            <BodyTemplate>
                                <FileIcon class="custom-icon" IconColor="@GetIconColor(item)" Extension="@Path.GetExtension(item.Path)"/>
                                <h6>@Path.GetFileNameWithoutExtension(item.Path)</h6>
                            </BodyTemplate>
                        </Card>
                    </ContextMenuTrigger>
                    <ContextMenu>
                        <ContextMenuItem Icon="fa-solid fa-file" Text="打开" OnClick="@((_, _) => { return OnOpen(item); })"/>
                        <ContextMenuItem Icon="fa-solid fa-trash" Text="删除" OnClick="@(async (_, _) => await OnDelete(item))"/>
                        <ContextMenuItem Icon="fa-solid fa-cloud-arrow-down" Text="下载" OnClick="@(async (_, _) => await OnDownload(item))"/>
                    </ContextMenu>
                </ContextMenuZone>
            </a>
        }
    </Row>

    <SlideButton class="Slide" Icon="fa-solid fa-plus" Text="上传">
        <BodyTemplate>
            <ButtonUpload TValue="string" OnChange="@OnUploadFile"
                          ShowUploadFileList="false" BrowserButtonText="上传文件"
                          BrowserButtonIcon="fa-solid fa-cloud-arrow-up" BrowserButtonClass="SlideItem btn-primary">
            </ButtonUpload>
            <Button Icon="fa-solid fa-folder" Text="添加新文件夹" OnClick="@OnAddFolder" class="SlideItem"></Button>
        </BodyTemplate>
    </SlideButton>
}
else
{
    <Empty Image="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg" Width="133" Text="暂无数据">
        <Template>
            <Button OnClick="@(() => NavigationManager.NavigateTo(""))">返回主页</Button>
        </Template>
    </Empty>
}

<style>
    .item{
        height: 200px;
        width: 200px;
    }
    .SlideItem{
        width: 100%;
        margin-bottom: 1px;
    }
    .Slide{
        position:fixed; bottom:0; right: 220px;
    }
</style>